@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    --primary-color: #20b2aa;
    --primary-color-shade: #2089b260;
    --accent-color: #ED5D40;
    --accent-color-shade: #ed5d40d3;
    --basic-color: #C6C6C6;
    --basic-color-shade: #c6c6c6d3;
}

body {
    background-image: url("/assets/black-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--accent-color);
}

li {
    padding: 0.5rem 0;
}

pre {
    margin: 4rem;
}

hr {
    margin-left: 2rem;
    margin-right: 16rem;
}

.main-heading {
    text-align: center;
    color: var(--accent-color);
}

.main-heading a {
    color: var(--primary-color);
}